{% from "partials/collection-entry.html" import makeCollectionEntry -%}
{% extends 'base.html' %}

{% block content %}
  <h2>AWS Batch Runs</h2>
    <div id="repos-panel-group" class="panel-group">
    {% for date, log in logs.items() %}
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapse-{{date}}">
          <h3 class="panel-title">
            <a>{{date}}</a>
          </h3>
        </div>
        <div id="collapse-{{date}}" class="panel-collapse collapse">
          <ul class="list-group">
            {% for log_key, log_info in log.items() %}
              <li class="list-group-item">{{makeCollectionEntry(log_key, log_info)}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}
